<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body>
	<form method="POST" action="/student_datails">
	<input type="text" placeholder="Student Name" name="student_name">
	<input type="number" placeholder="Register Number" name="register_number">
	<input type="text" placeholder="College Name" name="college_name">
	<input type="text" placeholder="Home Town" name="home_town">
	<input type="submit">
	</form><br />
	<a href="/logout"><button>logout</button> </a>
	<a href="/show_data"><button>show data</button> </a>
	
</body>
</html>