<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link href="../static/css/styles.css" rel="stylesheet">
    <!-- script references -->    
    
    <script src="../static/js/angular.js"></script>
    <script src="../static/js/angular-route.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/controller.js"></script>
</head>
<body>
  <a href="/logout"><button>logout</button> </a>
</body>
</html>